body{
  font-family:sans-serif;
  margin:auto;
  display: none;
}


h3{
  color: gray;
  margin-bottom: 0;
  margin-top: 0;
}

.caution{
  list-style: none;
  font-size: 12px;
  color: gray;
  padding-left: 0;
  margin: 5px 0 10px 17px;
}

table{
  border-collapse:collapse;
  margin:0 auto;
  font-size:0.6em;
}

.modal-area{
  display: none;
}
.modal-para{
  margin-left: 8px;
    margin-right: 8px;
}

@media screen and (min-width:768px){
  table{
    font-size:1.0em;
  }

  body{
    width: 980px;
  }

}

td,th{
  padding:10px;
}
th{
  color:#fff;
  background:#005ab3;
  border-right:1px solid #2d7ece;
  border-left:1px solid #2d7ece;
  border-bottom:1px solid #80bcff;
}

.right{
  border-right-style:none
}
table tr:nth-child(odd){
  background:#e6f2ff;
}
td{
  border-bottom:1px solid #80bcff;
  border-right:1px solid #80bcff;
  border-left:1px solid #80bcff;
}

.title_right{
  border-right: 1px solid #005ab3;
}

.title_left{
  border-left:1px solid #005ab3;
}

h1{

  padding-left:5px;
  margin-bottom:0;
  padding:0;
}

h6{
  text-align: right;
}

a{
  text-decoration: none;
  color:#fff
}

.title_wrap{
  border-left:8px solid #005ab3;
  padding-left: 8px;
}
